*{
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    list-style-type: none;

}

.menu{
   
    display: flex;
    height: 60px;
    padding-top: 10px;
}

.menu ul{
    display: flex;
    
    text-transform: none;
    font-size: larger;
    margin-left: 15px;
}

a{
    padding-right: 20px;
    text-transform: none;
    color: black;
}

.container{
    padding-top: 20px;
    height: 50px;
    background-color: pink;
    
}

.items{
    width: 800px;
    display: flex;
    justify-content: center;
    font-size: larger;
    
}